%h1
  Tutorial
%h3
  How to use Lunch Picker
%p
  %ol
    %li On the main page, select your location. eg. Raffles Place
    %li If you want lunch picker to select sheltered places only depending on the weather, select the "Put weather into consideration?" check box
    %li Click on the "Where should I have lunch?" button
%p
  The lunch picker will display a map (depending on the venues maintained), weather conditions and the information of the lunch venue. 

%h3
  Login and creating a new user
%p
  Login to Lunch Picker
  %ol
    %li On your right, click on the Login link.
    %li Key in your username and password.
    %li Select the "Remember me" check box if you want lunch picker to remember your credentials.
    %li Click on the "Login" button to proceed. Lunch picker will show your login information. 

%p 
  Create a new user
  %ol
    %li You must be logged out in order to do this.
    %li On your right, click on the Register link.
    %li Key in your username and your password.
    %li Click on the "Register" button.

%p
  Change your password
  %ol
    %li Login to Lunch Picker
    %li On your right, click on the My Account link.
    %li Change your password accordingly.
    %li Click on the "Update" button.    
%h3
  Maintaining a Location
%p
  View all locations
  %ol
    %li Login to Lunch Picker
    %li Click on Maintain Locations link.
    %li Locations listing will be shown.

%p
  Creating a new location
  %ol
    %li In the Location Maintenance page, click on New Location link.
    %li Enter your location name and the weather location that corresponds to google weather. 
    %li Click on "Check Weather" button to see if your weather location is a valid one.
    %li Click on the "Create" button to save your changes.
%p
  Edit a location
  %ol
    %li In the Location Maintenance page, click on Edit link.
    %li Modify the contents 
    %li Click on the "Update" button
%p
  Delete a location
  %ol
    %li In the Location Maintenance page, click on Destroy link.
    %li Click "OK" button when the confirmation box appears.
%h3
  Maintaining a Venue
%p
  View all venues
  %ol
    %li Login to Lunch Picker.
    %li Click on Maintain Venues link.
    %li Select a location from the combo box.
    %li Click on the "Search" button.
%p
  Creating a new venue
  %ol
    %li In the Venues Maintenance page, select a location and click on the "Search" button.
    %li Click on the New Venue link.
    %li Key in your lunch venue details.
    %li To check if your Address is a valid Google Map address, click on the "View" button.
    %li Click on the "Create" button to create the venue.
%p
  Edit a venue
  %ol
    %li In the Venues Maintenance page, select a location and click on the "Search" button.
    %li Click on the Edit link.
    %li Modify the contents.
    %li Click on the "Update" button.

%p
  Delete a venue
  %ol
    %li In the Venues Maintenance page, select a location and click on the "Search" button.
    %li Click on the Destroy link.
    %li Click "OK" button when the confirmation box appears.